.header__lang-link_en {
    width: 29px;
    height: 28px;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.15;
    letter-spacing: 0em;
    text-align: right;
    color: #fff;
    text-decoration: none;
} 