.intro__list {
    padding: 0;
    margin: 33px auto 92px;
    text-align: left;
}
@media screen and (max-width:768px) {
    .intro__list {
        margin-bottom: 88px;
    }
    
}
@media screen and (max-width: 600px) {
    .intro__list {
        margin-top: 34px;
        margin-bottom: 64px;
    }
    
}