.lead__title {
    max-width: 720px;
    margin:0 auto 32px;
    font-size: 96px;
    font-style: normal;
    font-weight: 900;
    line-height: 1.04;
    letter-spacing: 0em;
    text-align: center;
    
}
@media screen and (max-width: 768px) {
    .lead__title {
        width: calc(100% - 24px*2);
    }
}

@media screen and (max-width: 715px) {
    .lead__title {
         font-size: 65px; /*сам придумал для адаптации*/
    }
}
@media screen and (max-width: 600px) {
    .lead__title {
        width: calc(100% - 16px*2);
        margin: 0 auto 16px;
        font-size: 40px;
        line-height: 1.1;
       }
}
