.place {
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
      'title label'
      '. link'
      'pic paragraph'
      'pic paragraph';
      column-gap: 40px;
  
  }
  .place:last-child {
    margin-bottom: 0;
}
@media screen and (max-width: 1024px){
    .place {
        place-content: center;
        column-gap: 32px;
    }
}
@media screen and (max-width: 768px){
    .place {
        
        column-gap: 28px;
    }
}
@media screen and (max-width: 600px) {
    
    .place {
        margin-bottom: 50px;
        grid-template-columns: 1fr;
        grid-template-areas: 
            'title'
            'label'
            'link'
            'pic' 
            'paragraph'
            'paragraph';
        }
    }
