
@import url('../styles/normalize.css');

@import url('../vendor/fonts/fonts.css');
@import url('../blocks/page/page.css');
@import url('../blocks/header/__logo/header__logo.css');
@import url('../blocks/header/header.css');
@import url('../blocks/header/__lang-link/header__lang-link.css');
@import url('../blocks/header/__lang-link/__lang-link_en/header__lang-link_en.css');
@import url('../blocks/header/__lang-link/__lang-link_ru/header__lang-link_ru.css');
@import url('../blocks/lead/lead.css');
@import url('../blocks/lead/__title/lead__title.css');
@import url('../blocks/lead/__subtitle/lead__subtitle.css');
@import url('../blocks/lead/__image/lead__image.css');
@import url('../blocks/lead/__caption/lead__caption.css');
@import url('../blocks/intro/intro.css');
@import url('../blocks/intro/__list/intro__list.css');
@import url('../blocks/intro/__text/intro__text.css');
@import url('../blocks/intro/__title/intro__title.css');
@import url('../blocks/photo-grid/photo-grid.css');
@import url('../blocks/photo-grid/__item/photo__item.css');
@import url('../blocks/places/places.css');
@import url('../blocks/place/place.css');
@import url('../blocks/place/__image/place__image.css');
@import url('../blocks/place/__paragraph/place__paragraph.css');
@import url('../blocks/place/__paragraph/__paragraph_top/place__paragraph_top.css');
@import url('../blocks/place/__paragraph/__paragraph_bottom/place__paragraph_bottom.css');
@import url('../blocks/place/__title/place__title.css');
@import url('../blocks/place/__url-heading/place__url-heading.css');
@import url('../blocks/place/__url-link/place__url-link.css');
@import url('../blocks/place/__url/place__url.css');
@import url('../blocks/footer/footer.css');
@import url('../blocks/footer/__copyright/footer__copyright.css');
@import url('../blocks/footer/__link/footer__link.css');
@import url('../blocks/footer/__menu/footer__menu.css');
.cover {
    width: calc(100% - 48px*2);
    min-height: 740px;
    margin: 0 auto 92px; 
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 0;
    
    /* padding: 0 312px 245px; */
}
.cover:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #2A2C2F;
    opacity: 0.3;
    z-index: -1;
    transition: opacity 2s ease-in-out;
  }
  .cover:hover:before {
    opacity: 0.8;
  }
.cover__background {
    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
    
    height: 100%;
    width: 100%;
    object-fit: cover;
   
    

}
.cover__title{
    max-width:560px;
    max-height: 152px;
    line-height: 1.1;
    text-align: center;
    font-size: 72px;
    margin: 0 auto 32px;
    font-weight: 900;

}
.cover__subtitle {
    /* position: absolute;
    top: 429px;
    left: 412px;*/
    max-width: 360px;
    max-height: 66px; 
    text-align: center;
    font-size: 18px;
    margin: 0 auto;
    line-height: 1.22;
}
.cover__overlay {
    /* position: absolute; 
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #2A2C2F;
    opacity: 0.3; */
    
}

.cover__overlay:hover {
    /* transition: 2s;
    background-color: #2A2C2F;
    opacity: 0.8;
     */
}


                                               /* медиазапросы*/
@media screen and (max-width: 1024px){
   
    .cover {
        width: 100%;
    }
}
@media screen and (max-width: 768px) {
    .cover {
        min-height: 480px;
    }
    

    
}
@media screen and (max-width: 600px) {
    
    .cover {
        min-width: 320px;
        min-height: 350px;
    }
    .cover__title {
        max-width: 250px;
        font-size: 32px;
    }
    .cover__subtitle {
        font-size: 14px;
        margin: 0 auto 33px;
        max-width: 265px;
    }
    
    
}

@media screen and (max-width: 320px) {
    
    .cover {
        min-height: 200px;
    }
    .cover__title {
        width: calc(100% - 16px*2);
        max-width: 250px;
        margin-top: 32px;
    }
    .cover__subtitle {
        margin: 0 auto 33px;
        max-width: 265px;
    }
    
    
}
