.intro__title {
    
    margin: 92px auto 40px;
    font-family: Inter;
    font-size: 54px;
    font-style: normal;
    font-weight: 900;
    line-height: 1.07;
    letter-spacing: 0em;
    text-align: left;
}

@media screen and (max-width: 768px) {
    .intro__title {
        text-align: center;
    }
}
@media screen and (max-width: 600px) {
    .intro__title {
        text-align: left;
        font-size: 32px;

    }
}
@media screen and (max-width: 320px) {
    .intro__title {
        text-align: left;
        font-size: 32px;

    }
}